@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Precious Metal Auction</h1>
    <h2>Log in to make your bids</h2>
    <p>You are logged in as: @Session["Name"] @Session["Email"] @Session["PhoneNumer"]</p>
</div>
